.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 95vh;
  &__container {
    display: flex;
    align-items: center;
    &--grogu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
      margin: 5px 30px 5px;
      .position__0 {
        width: 90px;
      }
    }
    &--way {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      height: 120px;
      width: 100px;
      margin: 5px 10px;
      &__position__0 {
        width: 90px;
      }
      &__position__1 {
        width: 90px;
      }
      &__position__2 {
        width: 90px;
      }
      &__position__3 {
        width: 90px;
      }
      &__position__4 {
        width: 90px;
      }
      &__position__5 {
        width: 90px;
      }
      &__item {
        width: 110px;
      }
    }
    &--cupboard {
      height: 300px;
      width: 100px;
      border: 1px solid black;
      margin: 5px 5px 5px 30px;
    }
  }
}
.hidden {
  display: none;
}
