@import '../core/variables.scss';
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  backdrop-filter: blur(6px);

  &__menu {
    position: absolute;
    left: 16px;
    top: 16px;
    &--button {
      padding: 6px;
      border-radius: 15px;
      font-size: 20px;
      transition-duration: 0.3s;
      transition-property: transform;
      @include hideTapHighlightColor();
      @include hardwareAccel();
      @include improveAntiAlias();
      &:before {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: radial-gradient(
          ellipse at center,
          rgba(0, 0, 0, 0.35) 0%,
          rgba(0, 0, 0, 0) 80%
        ); /* W3C */
        transition-duration: 0.3s;
        transition-property: transform opacity;
      }

      &:hover {
        transform: translateY(-5px); /* move the element up by 5px */

        &:before {
          opacity: 1;
          transform: translateY(
            5px
          ); /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
        }
      }
    }
  }
  &__dice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 0px;
    left: -250px;
    width: 8vw;

    &--button {
      padding: 4px 6px 4px 4px;
      font-size: 20px;
      border-radius: 15px;
      @include hideTapHighlightColor();
      @include hardwareAccel();
      @include improveAntiAlias();
      &:hover {
        animation-name: pulse-grow;
        animation-duration: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }
    }
    &--number {
      width: 2vw;
      //  margin-left: 20px;
      font-size: 22px;
      font-weight: 500;
    }
  }
  &__grogu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 5px 30px 5px;
    .position0 {
      width: 140px;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    &--way {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      height: 120px;
      margin: 5px;
      &__position0 {
        width: 140px;
      }
      &__position1 {
        width: 140px;
      }
      &__position2 {
        width: 140px;
      }
      &__position3 {
        width: 140px;
      }
      &__position4 {
        width: 140px;
      }
      &__position5 {
        width: 140px;
      }
      &__position6 {
        width: 140px;
      }
      &__item {
        width: 150px;
      }
    }
    &--cupboard {
      height: 10%;
      width: 60%;
      margin: 5px 15px 0px;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: relative;
      top: 25px;
      &__food {
        &--containerImgs {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: 'topImg topImg' 'leftImg rightImg';
          text-align: center;
          align-items: center;
          grid-gap: 10px;

          &__imgTop {
            width: 50px;
            margin: 2.5px;
            grid-area: topImg;
            margin: 0 auto;
          }
          &__imgBottomLeft {
            width: 50px;
            margin: 2.5px;
            grid-area: leftImg;
            margin: 0 auto;
          }
          &__imgBottomRight {
            width: 50px;
            margin: 2.5px;
            grid-area: rightImg;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
.middle {
  margin: 20px auto;
}
.hidden {
  display: none;
}
.transitionHidden {
  -webkit-animation: tracking-out-contract 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: tracking-out-contract 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}
.transitionGrogu {
  -webkit-animation: tracking-in-expand 1.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: tracking-in-expand 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.transitionNumber {
  -webkit-animation: number 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both
    alternate;
  animation: number 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate both;
}
