.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  backdrop-filter: blur(6px);
  &__menu {
    position: absolute;
    right: 2.5px;
    top: 2.5px;
  }
  &__dice {
    position: absolute;
    top: 20px;
    left: 100px;
    &--number {
      position: absolute;
      top: 23.5px;
      left: 185px;
    }
  }
  &__grogu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 5px 30px 5px;

    .position0 {
      width: 90px;
    }
  }
  &__container {
    display: flex;
    align-items: end;
    &--way {
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      height: 120px;
      //  width: 100px;
      margin: 5px;
      &__position0 {
        width: 90px;
      }
      &__position1 {
        width: 90px;
      }
      &__position2 {
        width: 90px;
      }
      &__position3 {
        width: 90px;
      }
      &__position4 {
        width: 90px;
      }
      &__position5 {
        width: 90px;
      }
      &__position6 {
        width: 90px;
      }
      &__item {
        width: 90px;
      }
    }
    &--cupboard {
      height: 10%;
      width: 60%;
      border: 1px solid black;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__cookies {
        &--title {
        }
        &--containerImgs {
          margin: 5px auto;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: 'topImg topImg' 'leftImg rightImg';
          text-align: center;
          align-items: center;
          grid-gap: 5px;
          &__imgTop {
            width: 25px;
            margin: 2.5px;
            grid-area: topImg;

            margin: 0 auto;
          }
          &__imgBottomLeft {
            width: 25px;
            margin: 2.5px;
            grid-area: leftImg;
            margin: 0 auto;
          }
          &__imgBottomRight {
            width: 25px;
            margin: 2.5px;
            grid-area: rightImg;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
.hidden {
  display: none;
}
