@import '../core/variables.scss';
.container {
  &__links {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
    font-weight: 700;
    &--button {
      padding: 6px;
      font-size: 20px;
      text-transform: uppercase;
      border-radius: 15px;
      transition-duration: 0.3;
      transition-property: transform;
      @include hideTapHighlightColor();
      @include hardwareAccel();
      @include improveAntiAlias();
      &:hover {
        transform: scale(1.1) rotate(4deg);
      }
    }
  }
}
