@import '../core/variables.scss';
.containerLost {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: tracking-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-image: url(../../images/LostGame.png);
  text-align: center;
  font-weight: 900;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  z-index: 1;
  background-color: rgba(53, 49, 49, 0.89);
  background-size: cover;
  &__title {
    font-size: 28px;
    margin: 20px auto 15px;
  }
  &__menu {
    font-size: 22px;
  }
}
.hidden {
  display: none;
}
