@import '../core/variables.scss';
.containerWin {
  -webkit-animation: tracking-in-expand 2.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation: tracking-in-expand 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  background-image: url(../../images/WinGame.png);
  font-weight: 900;
  text-align: center;
  color: rgb(12, 12, 12);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  z-index: 1;
  background-color: rgba(53, 49, 49, 0.795);
  background-size: cover;

  &__title {
    font-size: 28px;
    margin: 20px auto 15px;
  }
  &__menu {
    font-size: 22px;
  }
}
.hidden {
  display: none;
}
